// Section Catalog Single Left
section.bg-gray-dark.section-md.section-md-mod-1
  .container
    .row.flow-offset-7
      .col-12.col-md-6.col-lg-3
        p Agent
        a(href="agent-personal.html").h5.text-sushi.text-regular Heather Turner
      .col-12.col-md-6.col-lg-3
        p Agency
        a(href="#").h5.text-sushi.text-regular Modern Estate Inc.
      .col-12.col-md-6.col-lg-3.col-xl-3
        p Location
        p.h5.text-regular 7758 Laguna heights Court, San Francisco, MA 02127
      .col-12.col-md-6.col-lg-3.col-xl-2.offset-xl-1
        p Price
        p.thumbnail-price.h5
          | $2490.00
          span.mon.text-regular /month
section.section-md.section-md-mod-2
  .container
    .row
      .col-12.col-md-12.col-lg-8
        // Slick Carousel
        .slick-slider.carousel-parent(data-arrows="true", data-loop="false", data-dots="false", data-swipe="true", data-sm-items="1", data-lightgallery='group', data-child="#child-carousel", data-for=".thumbnail-carousel")
          a.item(data-lightgallery='item', href='images/product-single-1_original.jpg')
            img(src='images/product-single-1.jpg', alt='', width='770', height='513')
          a.item(data-lightgallery='item', href='images/product-single-2_original.jpg')
            img(src='images/product-single-2.jpg', alt='', width='770', height='513')
          a.item(data-lightgallery='item', href='images/product-single-3_original.jpg')
            img(src='images/product-single-3.jpg', alt='', width='770', height='513')
          a.item(data-lightgallery='item', href='images/product-single-4_original.jpg')
            img(src='images/product-single-4.jpg', alt='', width='770', height='513')
          a.item(data-lightgallery='item', href='images/product-single-5_original.jpg')
            img(src='images/product-single-5.jpg', alt='', width='770', height='513')
          a.item(data-lightgallery='item', href='images/product-single-6_original.jpg')
            img(src='images/product-single-6.jpg', alt='', width='770', height='513')
        .slick-slider.thumbnail-carousel#child-carousel(
          data-for=".carousel-parent",
          data-arrows="true",
          data-loop="false",
          data-dots="false",
          data-swipe="true",
          data-items="2",
          data-xs-items="3",
          data-sm-items="4",
          data-md-items="4",
          data-lg-items="5",
          data-xl-items="5",
          data-slide-to-scroll="1"
        )
          .item
            .product-thumbnail
              img(src='images/product-thumbnail-1.jpg', alt='', width='130', height='86')
          .item
            .product-thumbnail
              img(src='images/product-thumbnail-2.jpg', alt='', width='130', height='86')
          .item
            .product-thumbnail
              img(src='images/product-thumbnail-3.jpg', alt='', width='130', height='86')
          .item
            .product-thumbnail
              img(src='images/product-thumbnail-4.jpg', alt='', width='130', height='86')
          .item
            .product-thumbnail
              img(src='images/product-thumbnail-5.jpg', alt='', width='130', height='86')
          .item
            .product-thumbnail
              img(src='images/product-thumbnail-6.jpg', alt='', width='130', height='86')
        .row
          .col-12
            h4.border-bottom Overview
            .table-mobile.offset-custom-11
              table.table.table-default
                tbody
                  tr
                    td Area
                    td 1200 sq ft
                  tr
                    td Bedrooms
                    td 4
                  tr
                    td Bathrooms
                    td 2
                  tr
                    td Garages
                    td 2
                  tr
                    td Features
                    td Lawn, Sprinkler System, Marble Floors
                  tr
                    td Year Built
                    td 1998
                  tr
                    td Lot Size
                    td 5.45
                  tr
                    td School District
                    td San Francisco Glen (925) 862-2026
                  tr
                    td High School
                    td Call School District
                  tr
                    td Middle School
                    td Call School District
                  tr
                    td Elementary School
                    td Call School District
                  tr
                    td Parking Type
                    td Garage - Attached
                  tr
                    td Room Count
                    td 6
                  tr
                    td Roof Type
                    td Tile
                  tr
                    td View Type
                    td Mountain
                  tr
                    td Exterior Type
                    td Stucco

            h4.border-bottom.offset-custom-8 Description
            p 405 Canyon Vista Dr Spectacular mountain view, sublime privacy & endless flexibility converge right here on 1 of Mt Washington's favorite streets. Sunrise breakfast vistas, discreet gated entry & the luxury of an open loft office/den plus the 2/2 practicality let you love it just as it is or spend happy veranda hours contemplating expansive Dwell or HGTV dreams. Cars to pamper or creative space high on your list?
            p The enclosed carport is ready and waiting. Longing to build some raised garden beds? The generous Meyer lemon will dress your fresh veggies in style. Contemplating happy gatherings? The indoor ope...n flow welcomes cozy dinners or that long summer feast under the stars. Lovingly cared for, wonderfully sited for all that brings you to Mt Washington, handy to NELA & beyond.

            h4.border-bottom.offset-custom-8 Reviews
            .media.media-mod-2.comment
              .media-left.round
                img.round(src="images/post_page-4.jpg" alt="" width="70" height="70")
              .media-body
                p.h6.text-sushi.text-ubold Marilyn Taylor
                time(datetime="2016").fa-calendar May 21, 2016 at 5:50 pm
                p.text-light-custom I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
                a(href="#").text-sushi
                  span.fa-mail-reply.icon
                  span Reply
            .media.media-mod-2.comment.comment-repost
              .media-left.round
                img.round(src="images/post_page-5.jpg" alt="" width="70" height="70")
              .media-body
                p.h6.text-sushi.text-ubold Heather Turner
                time(datetime="2016").fa-calendar May 21, 2016 at 6:23 pm

                p.text-light-custom Thank you!
                a(href="#").text-sushi
                  span.fa-mail-reply.icon
                  span Reply

            h4.border-bottom.offset-custom-8 Write Review
            // RD Mailform
            form.text-start.offset-custom-11()
              .row
                .col-12.col-md-6
                  .form-wrap
                    label.form-label(for="contact-name") Enter your name
                    input#contact-name.form-input(type="text" name="name" data-constraints="@Required")
                .col-12.col-md-6
                  .form-wrap
                    label.form-label(for="contact-email") Enter your e-mail
                    input#contact-email.form-input(type="email" name="email" data-constraints="@Required @Email")
                .col-12
                  .form-wrap
                    label.form-label(for="contact-message") Enter your message
                    textarea#contact-message.form-input(name="message" data-constraints="@Required")
                .col-12
                  button(type="submit").btn.btn-sushi.btn-sm Send message

      .col-12.col-md-12.col-lg-4
        .sidebar.sidebar-mod-1
          .sidebar-module
            //Please, add the data attribute data-key="YOUR_API_KEY" in order to insert your own API key for the Google map.
            //Please note that YOUR_API_KEY should replaced with your key.
            //Example: <div class="google-map-container" data-key="YOUR_API_KEY">
            .google-map-container( data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom='5', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png', data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#b4d4e1"},{"visibility":"on"}]}]' )
              .google-map.google-map-4
              ul.google-map-markers
                li( data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow' )
            a(href="agent-personal.html").btn.btn-sushi.btn-sm.offset-custom-11.btn-full-width contact an agent
            a.btn.btn-primary.btn-sm.btn-min-width-md.btn-full-width.offset-custom-10(href="#")
              span.icon.icon-left.icon-sm.fa-heart
              | add to favoRites
          .sidebar-module
            h4.border-bottom Request a Showing
            p You can contact us any way that is convenient for you. We would be happy to answer your questions.
            // RD Mailform
            form.rd-mailform.text-start.offset-custom-11(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .form-wrap
                label.form-label(for="contact-name2") Your name
                input#contact-name2.form-input(type="text" name="name" data-constraints="@Required")

              .form-wrap
                label.form-label(for="contact-phone2") Your phone
                input#contact-phone2.form-input(type="text" name="phone" data-constraints="@Required @Numeric")

              .form-wrap
                label.form-label(for="contact-email2") Your e-mail
                input#contact-email2.form-input(type="email" name="email" data-constraints="@Required @Email")

              .form-wrap
                label.form-label(for="contact-message2") Message
                textarea#contact-message2.form-input.min-height(name="message" data-constraints="@Required" placeholder="Hello! I`m interested in 7758 Laguna heights Court, San Francisco, MA 02127. Please contact me with more information.")
              button(type="submit").btn.btn-sushi.btn-sm Send message
          .sidebar-module
            h4.border-bottom Agent Information
            .media.media-mod-3
              .media-left.img-width-auto
                img(src="images/agency-2.jpg" alt="" width="100" height="100")
              .media-body
                h5.text-sushi Heather Turner
                p Founder, Listing Agent
                dl.dl-horizontal-mod-1.text-ubold.text-abbey
                  dt tel.
                  dd: a(href="callto:#") 1-800-1234-567
            p She is our leading specialist in everything concerning Real Estate and property management.
            a(href="agent-personal.html").btn.btn-primary.btn-sm get in touch
          .sidebar-module
            h4.border-bottom Share
            .icon-group
              a.icon.icon-sm.icon-social.fa-facebook(href="#")
              a.icon.icon-sm.icon-social.fa-twitter(href="#")
              a.icon.icon-sm.icon-social.fa-google-plus(href="#")
          .sidebar-module
            h4 Recent Properties
            +thumbnail-3("images/left_sidebar_blog-1.jpg", "340" , "230" ,"1336 N Occidental Blvd","$4,339.00")
            +thumbnail-3("images/left_sidebar_blog-2.jpg", "340" , "230" ,"650 Kelton Ave #201","$2,449.00")
            +thumbnail-3("images/left_sidebar_blog-3.jpg", "340" , "230" ,"1735 N Fuller Ave #124","$2,449.00")